<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UniFest</title>
  <!--Favicon-->
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <!--headerStyle.css-->
  <link rel="stylesheet" href="/stylesheets/headerStyle.css" />
  <!--Bootstrap5-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!--Script prof.js-->
  <script src="/javascripts/prof.js"></script>
</head>

<body>
  
  <div class="p-2 bg-dark d-flex flex-column flex-md-row align-items-center justify-content-around">
    
    <img src="/images/favicon.png" alt="Logo de Unifest" class="img-fluid rounded-pill logo"/>
    
      <h1 class="text-white">U N I F E S T</h1>
    
    <nav class="navbar navbar-expand-lg text-center">
      <div class="container-fluid d-flex justify-content-center">
        
        <!-- Botón de colapso -->
        <button class="navbar-toggler bg-light mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Contenido colapsable -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white mx-2 mb-1 rounded p-3 fs-4 <% if(pg === "inicio") { %> text-decoration-underline <% } %>" role="button" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white mx-2 mb-1 rounded p-3 fs-4 <% if(pg === "perfil") { %> text-decoration-underline <% } %>" role="button" href="/profile">Mi perfil</a>
            </li>
            <% if(rol === 1){ %>
            <li class="nav-item">
              <a class="nav-link text-white mx-2 mb-1 rounded p-3 fs-4 <% if(pg === "eventos") { %> text-decoration-underline <% } %>" href="/evento/misEventos">Mis eventos</a>
            </li>
            <% }else{ %>
              <li class="nav-item">
                <a class="nav-link text-white mx-2 mb-1 rounded p-3 fs-4 <% if(pg === "inscripciones") { %> text-decoration-underline <% } %>" href="/evento/misInscripciones">Mis inscripciones</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link text-white mx-2 mb-1 rounded p-3 fs-4 <% if(pg === "bandeja") { %> text-decoration-underline <% } %>" href="#">Bandeja de entrada</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white mx-2 mb-1 rounded p-3 fs-4" href="/login/logout">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>
