<%- include('header', {rol:rol}) %>
<div class="container-fluid">
    <div class="d-flex row ">
        <h1 class="h1 text-center pt-4">Bienvenvido, <%- nombre -%>!</h1>
        <div class="col-md-6 p-4">
            <div class="m-4 border border-2 border-secondary rounded">
                <h2 class="text-center">Eventos próximos:</h2>
            </div>
            
        </div>
        <div class="col-md-6 p-4">
            <div class="m-4 border border-2 border-secondary rounded">
                <h2 class="text-center">Nuevos eventos:</h2>
            </div>
            
        </div>
    </div>
</div>

<%- include('footer') %>
