<%- include('header', {rol:rol}) %>
<div class="container-fluid py-5">
    <h3 class="text-center mb-5">Perfil del usuario</h3>
    <div class="d-flex justify-content-center">
      <table>
        <tr>
          <th>Nombre completo:</th>
          <td>Paula Oramas Badillo</td>
        </tr>
        <tr>
          <th>Teléfono:</th>
          <td>-</td>
        </tr>
        <tr>
          <th>Facultad:</th>
          <td>Informática</td>
        </tr>
        <tr>
          <th>Organizador:</th>
          <td>No</td>
        </tr>
      </table>
    </div>
</div>

<%- include('footer') %>
