.btn-menu {
  bottom: 4rem;
  left: 1rem;
}

.mAccesible {
  margin-bottom: 7rem;
}

.dark-scheme {
  background-color: black;
  color: white;
}

.dark-scheme .modal-content {
  background-color: #3d4246;
  color: white;
}
