.header{
    flex-direction: row;
    justify-content: center;
}

button:hover{
    text-decoration: underline;
}

h1{
    font-size: 4rem;
    color: black;
}

.eventTable {
  height: 50%;
  overflow-y:scroll;
}
